<!--CARDS FOR POST-->
<div>
    <ul class="list-unstyled">
        {{#each posts}}
        {{!-- <div class="col mb-4"> --}}
        <li class="media">
            <img src="/images/henna-hobby.jpg" class=" align-self-center " alt="...">
            <div class="media-body">
                <h4 class="post-title">{{post.title}}</h4>
                <p>{{post.post_text}}</p>
                <small>Posted by {{user.username}} on {{format_date created_at}}</small><br>
                <a href="#">Click Here For More Info!</a>
            </div>
        </li>
        {{/each}}
    </ul>
    {{!-- </div> --}}
</div>