    <form class="mx-auto col-auto" style="width: 500px;">
        <div class="card text-white bg-danger mb-9" style="max-width: 50rem;">
            <div class="card-header bg-dark">Login</div>
            <div class="card-body">

                <div class="form-group col-auto">
                    <label for="username-input-login">Username:</label>
                    <input type="text" class="form-control col-md-12" id="username-input-login">
                </div>

                <div class="form-group col-auto">
                    <label for="password-input-login">Password:</label>
                    <input type="password" class="form-control col-md-12" id="password-input-login">
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-dark btn-block" id="login-btn">Login!</button>
                </div>
            </div>

            <div class="col-auto">
                <a type="button" href="/signup" class="text-white">Sign Up</a>
            </div>
        </div>
    </form>

    <script src="/javascript/login.js"></script>