<form class="mx-auto col-auto signup" id="signup-form">
    <div class="card mb-9">
        <div class="card-header">Sign Up</div>
        <div class="card-body">

            <div class="form-group col-auto">
                <label for="username-input-signup">Please Enter a Username:</label>
                <input type="text" class="form-control col-md-12" id="username-input-signup">
            </div>

            <div class="form-group col-auto">
                <label for="password-input-signup">Please Enter a Password of at Least 4 characters:</label>
                <input type="password" class="form-control col-md-12" id="password-input-signup">
            </div>
            <div class="form-group col-auto">
                <label for="email-input-signup">Please Enter Your Email:</label>
                <input type="email" class="form-control col-md-12" id="email-input-signup">
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-dark btn-block" id="signup-btn">Sign Up!</button>
            </div>
        </div>
    </div>
</form>

<script src="/javascript/signup.js"></script>